/*Step 1 Add vertical margin of 20 px and horizontal margin */
#results-page-table-container {
    margin: 20px auto;
}
/*Step 2  Border radius = 20 px, padding = 20 px, border collapse = seperate */
#results-page-table-container table {
    border-radius: 20px;
    padding: 20px;
    border-collapse: separate;
}

/*Step 3 padding = 3 px, border left = 1 px solid ##00204E */ 
#results-page-table-container table td {
    padding: 3px;
    border-left: 1px solid #00204E;
    border-bottom: 1px solid #00204E;
}
/* Step 4, text centered, position = sticky, top = 2px, z-index = 10, background = #00204E, text color = white, border left = 1 px solid ##00204E, border right = 1 px solid ##00204E */
#results-page-table-container table th {
    text-align: center;
    position: sticky;
    top: 2px;
    z-index: 10;
    background-color: #00204E;
    color: white;
    border-left: 1px solid #00204E;
    border-bottom: 1px solid #00204E;
}
/*Step 5 add right border = 1px solid #00204E to td and th*/
#results-page-table-container table td:last-child{
    border-right: 1px solid #00204E;
}
#results-page-table-container table th:last-child {
    border-right: 1px solid #00204E;
}